{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block pageTitle %} {% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  <link rel="bookmark" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body class="noscrollbar" style="min-width: 700px">
  <div id="wrap"></div>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  {% if LANGUAGE_CODE == 'zh-hans' %}
<script src="{% url 'javascript-catalog' %}?v={% version_code %}-zh"></script>
{% elif LANGUAGE_CODE == 'en-us' %}
<script src="{% url 'javascript-catalog' %}?v={% version_code %}-en"></script>
{% endif %}
  <script src="{% static_ver 'webpack/dll/dll.js' %}"></script>
</body>

</html>
