asgiref==3.4.1
asn1crypto==1.5.1
cached-property==1.5.2
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
ckzg==1.0.0
cloudpickle==3.0.0
colorama==0.4.6
contourpy==1.2.1
crypto==1.4.1
cycler==0.12.1
cytoolz==0.12.3
dataclasses==0.6
decorator==4.4.2
demjson==1.6
Django==3.2.13
django-cors-headers==3.10.1
djongo==1.3.6
eth-bloom==3.0.0
eth-hash==0.7.0
eth-keys==0.5.0
eth-typing==4.0.0
eth-utils==2.3.1
filelock==3.14.0
fonttools==4.51.0
fsspec==2024.3.1
future==0.18.2
gunicorn==20.1.0
hexbytes==0.3.1
idna==3.3
importlib_resources==6.4.0
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jieba==0.42.1
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.5
llvmlite==0.42.0
lru-dict==1.3.0
MarkupSafe==2.1.5
matplotlib==3.7.4
metrohash==0.3.1
mongoengine==0.24.1
mpmath==1.3.0
mypy-extensions==0.4.3
Naked==0.1.31
networkx==2.5.1
numba==0.59.1
numpy==1.24.4
packaging==24.0
paho-mqtt==2.1.0
pandas==2.0.3
pbkdf2==1.3
pillow==10.3.0
py-ecc==7.0.0
py-evm==0.10.0b4
pyasn1==0.4.8
pycparser==2.21
pycryptodome==3.14.1
pymongo==4.1.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2022.1
PyYAML==6.0.1
repoze.lru==0.7
requests==2.27.1
rlp==3.0.0
rsa==4.9
scikit-learn==1.3.2
scipy==1.10.1
scrypt==0.8.20
shap==0.44.1
shellescape==3.8.1
six==1.16.0
slicer==0.0.7
sortedcontainers==2.4.0
sqlparse==0.2.4
sympy==1.12
textrank4zh==0.3
threadpoolctl==3.5.0
toolz==0.11.2
torch==2.1.0
torcheval==0.0.7
tqdm==4.66.4
trie==3.0.0
typing_extensions==4.1.1
tzdata==2024.1
urllib3==1.26.9
zipp==3.18.1
